<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palanquee</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="manifest" href="/manifest.json">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        if ("serviceWorker" in navigator) {
          window.addEventListener("load", () => {
            navigator.serviceWorker
              .register("/sw.js")
              .then(() => console.log("✅ Service Worker enregistré"))
              .catch((err) => console.error("❌ Service Worker erreur:", err));
          });
        }
        </script>
        
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#1b263b">
        
</head>
<body>
    <div class="container">
        <h1 class="title">Gestion des Palanquées</h1>
        <img src="/images/plongeur.avif" alt="Plongée" class="main-image">
        <div class="buttons">
            <a href="/gestion-plongeurs" class="button blue"><i class="fas fa-user"></i> Gestion des Plongeurs</a>
            <a href="/gestion-sorties" class="button green"><i class="far fa-calendar-alt"></i> Gestion des Sorties</a>
        <a href="/selection-sorties" class="button orange"><i class="fas fa-mask">
</i> Gestion des Palanquées</a>
        </div>
    </div>
</body>
</html>
